# --- Build & Outputs ---
target/
build/
out/
*.log
*.tmp

# --- Configurações de IDEs ---
.idea/
*.iml
*.iws
*.ipr

.classpath
.project
.settings/
.factorypath
.apt_generated

.vscode/
/nbproject/

# --- Variáveis de Ambiente & Arquivos Locais ---
*.env
.DS_Store
Thumbs.db